<!DOCTYPE html>
<html>
  <head>
    <title> Preguntas </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
  </head>
  <body>
  <div id="page-wrap">
		<header class="main" id="h1">
			<h2>
				Quiz: El juego de las preguntas
			</h2>
		</header>
	   <nav class="main" id="n1">
	   		<a href='/' > Inicio </a> <br/>
	   		<a href='/quizes' > Preguntas </a><br/>
	   		<a href='/author'> Créditos </a>
	   </nav>
	   
	    <section class="main" id="s1">
	    	<% if(typeof errors !== "undefined") { %>
	    		<span class="error">
	    			Corregir errores:<br/>
	    			<% for(var i in errors){  %>
	    				<span> <%= errors[i].message %> </span> <br/>
	    			<% } %>
	    		</span>
	    		<br/>
	    	<%} %>
	    	<%- body %>
	    </section>
	    
	    <footer class="main" id="f1">
	    	<span> <a href="https://es.wikipedia.org/wiki/Quiz" target="_blank"> ¿Que es un Quiz? </a> </span>
	    	<span> <a href="https://github.com/AlexPrieto/Quiz" target="_blank"> Mi proyecto Quiz </a> </span>
	    </footer>
    </div>
  </body>
</html>








